{# Базовый HTML шаблон для админки #}
{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script>
      // Заблокировать возможность записи в поле '#id_sd_volume_max',
      // если поле '#id_sd' не равно TRUE
      (function ($) {
          const sd = $('#id_sd')
          const sdVolumeMax = $('#id_sd_volume_max')
          // Был ли клик по элементу с id=id_sd
          sd.on('click', function () {
              // если пункт отмечен в чекбоксе
              if (sd.prop('checked') === true) {
                  sdVolumeMax.prop('readonly', false);
                  sdVolumeMax.val('');
                  sdVolumeMax.css('background', 'white');
              } else {
                  sdVolumeMax.prop('readonly', true);  // только для чтения
                  sdVolumeMax.val('');  // пустое значение в поле
                  sdVolumeMax.css('background', 'lightgray');
              }
          })
      })(django.jQuery);
  </script>
{% endblock %}